table {
  width: 100%; }

button {
  padding: 5px 5px 5px 5px; }

.play {
  padding: 0px 0px 0px 0px;
  width: 300px;
  height: 220px;
  font-size: 300%; }
  .play .green {
    background-color: #00BCD4; }

input[type=range] {
  width: 300px; }

.red {
  color: red; }

.green {
  color: green; }

.jumbotron {
  text-align: center;
  color: #212121;
  width: 100%; }
  .jumbotron i {
    color: #212121; }
  .jumbotron button {
    background-color: #009688;
    color: #FFFFFF;
    font-size: 300%;
    padding: 2% 2% 2% 2%;
    margin-top: 2%; }
    .jumbotron button i {
      color: #fff; }
  .jumbotron button:hover {
    color: #00BCD4; }

.bar {
  text-align: center; }

table {
  width: 100%; }
  table em {
    color: #B6B6B6;
    font-size: 75%; }
  table th {
    text-align: center; }

strong {
  color: #00BCD4; }

.navbar {
  background-color: #00796B !important;
  color: #FFFFFF !important; }
  .navbar a {
    background-color: #00796B !important;
    color: #FFFFFF !important; }
  .navbar a:hover {
    background-color: #00796B !important;
    color: #FFFFFF !important; }

img {
  padding: 5px 5px 5px 5px; }

.trump {
  padding: 0px 30px 0px 30px; }

.prod {
  padding: 0px 30px 0px 0px; }

.container {
  padding-right: 0;
  /*15px in bootstrap.css*/
  padding-left: 0;
  /*idem*/
  margin-right: auto;
  margin-left: auto; }

.donald {
  padding: 0px 0px 0px 30px; }

.well {
  padding: 10px 10px 10px 10px;
  width: 100%; }
  .well table th {
    text-align: left !important; }
  .well table td {
    text-align: left !important; }
  .well table button {
    font-size: 100%; }

html, body {
  height: 91%;
  width: 100%; }

#wrap {
  left: -100px;
  min-height: 99%;
  width: 100%; }

#main {
  overflow: auto;
  padding-bottom: 150px;
  /* this needs to be bigger than footer height*/ }

nav {
  padding-top: -10px;
  position: relative;
  top: -5px; }

.footer {
  position: relative;
  margin-top: -20px;
  /* negative value of footer height */
  height: 20px;
  clear: both;
  padding-top: 20px;
  width: 100%; }

#seperator1 {
  height: 10px;
  position: relative;
  background-color: #00BCD4; }
