<div class="container-fluid"  ng-controller="game-Ctrl">
  <h2 style="text-align:center"  ng-if="!president.isPresident">Trump Inc</h2>
  <h2  style="text-align:center" ng-if="president.isPresident">Royal Trump Incorporated</h2>

  <timer autostart="false" countdown="4" interval="1000" finish-callback="update()">Time until next day: {{countdown}}</timer>
  <label>Game Speed: {{settings.speed}}s per day</label><input type="range" min="1" max="10" ng-model="settings.speed"></input>
  <!--START INFO ROW-->
  <div class="row no-gutters">
    
    <div class="col-md-3">
      <h4>Start/Stop Game</h4>
      <button ng-if="settings.play" class="play btn btn-danger" ng-click="pause()">Pause</button>
      <button ng-if="!settings.play" class="play btn btn-success" ng-click="play()">Play</button>
    </div>
    <div class="col-md-3">
      <h4>Economy Information </h4>
      <div class="well">
        <table class="table table-striped">
          <tr>
            <th></th>
            <th><img src="res/img/button-1.png" alt="b"> Button 1</th>
            <th><img src="res/img/button-2.png" alt="b"> Button 2</th>
          </tr>
          <tr>
            <td>Supply</td>
            <td>{{supply1}}</td>
            <td>{{supply2}}</td>
          </tr>
          <tr>
            <td>Demand</td>
            <td>{{demand1}}</td>
            <td>{{demand2}}</td>
          </tr>
          <tr>
            <td>Diff</td>
            <td><p ng-if="supply1 > demand1" class="red">{{demand1 - supply1}}</p>
                <p ng-if="supply1 <= demand1" class="green">{{demand1 - supply1}}</p>
            </td>
            <td><p ng-if="supply2 > demand2" class="red">{{demand2 - supply2}}</p>
                <p ng-if="supply2 <= demand2" class="green">{{demand2 - supply2}}</p>
            </td>  
        </table>
      </div>
      <h4>Income</h4>
      <div class="well">    
      <table class="table table-striped">
          <tr>
            <th></th>
            <th><img src="res/img/button-1.png" alt="b"> Button 1</th>
            <th><img src="res/img/button-2.png" alt="b"> Button 2</th>
          </tr>
          <tr>
            <td>Production:</td>
            <td class="red">{{getPrice1()*production.quantity1|currency}}</td>
            <td class="red">{{getPrice2()*production.quantity2|currency}}</td>
          </tr>
          <tr>
            <td>Sales:</td>
            <td class="green">{{priceArray1[dayMax]*retail.quantity1|currency}}</td>
            <td class="green">{{priceArray2[dayMax]*retail.quantity2|currency}}</td>
          </tr>
          <tr>
            <td>Diff</td>
            <td><p ng-if="priceArray1[dayMax]*retail.quantity1 - getPrice1()*production.quantity1 < 0" class="red">{{priceArray1[dayMax]*retail.quantity1 - getPrice1()*production.quantity1|currency}}</p>
                <p ng-if="priceArray1[dayMax]*retail.quantity1 - getPrice1()*production.quantity1 >= 0" class="green">{{priceArray1[dayMax]*retail.quantity1 - getPrice1()*production.quantity1|currency}}</p>
            </td>
            <td><p ng-if="priceArray2[dayMax]*retail.quantity2 - getPrice2()*production.quantity2 < 0" class="red">{{priceArray2[dayMax]*retail.quantity2 - getPrice2()*production.quantity2|currency}}</p>
                <p ng-if="priceArray2[dayMax]*retail.quantity2 - getPrice2()*production.quantity2 >= 0" class="green">{{priceArray2[dayMax]*retail.quantity2 - getPrice2()*production.quantity2|currency}}</p>
            </td>
        </table>  <!--HUEHUEHUE-->
      </div>
    </div>

    <div class="col-md-3">
      <h4>Market History</h4>
      <div class="well" id="graph"><p><img src="res/img/button-1.png" alt="b"> Button 1 Sells for {{priceArray1[dayMax]|currency}}</p>
      <p><img src="res/img/button-2.png" alt="b"> Button 2 Sells for {{priceArray2[dayMax]|currency}}</p></div> 
    <div class="well"><h3>{{msg}}</h3></div>
    </div>
    <div class="col-md-3">
      <h4>Finances</h4>
      <div class="well">
        <h3>Funds: {{ money | currency }}</h3></br>
        
        <h3>Average Quality: {{qualityAverage/100 | percentage:2}}</h3><br><br>
        <div ng-if="profit >= 0" class="green"><h4>Profit: {{profit|currency}}</h4></div>
        <div ng-if="profit < 0" class="red"><h4>Loss: {{profit|currency}}</h4></div>
      </div>
    </div>
  </div>
  <div class="row no-gutters">
    <div class="col-md-3">
      <div class="prod">
        <h4>Production Controls</h4>
        <div class="well">
          <label for="quality">Production Quality: {{production.quality}}%</label>
          <input type="range" class="slider" min="1" max="100" name="quality" 
                                                               ng-model="production.quality">
          <label for="quantity1"><img src="res/img/button-1.png" alt="b"> Button 1 Production count: {{production.quantity1}} (max {{getMaxProd1()}}) (Prod {{getPrice1()|currency}}, Mrkt {{priceArray1[dayMax]|currency}})</label>
          <input type="range" class="slider" min="0" max={{getMaxProd1()}} ng-change="updateQuantity()" ng-model="production.quantity1">

          <label for="quantity1"><img src="res/img/button-2.png" alt="b"> Button 2 Production count: {{production.quantity2}} (max {{getMaxProd2()}}) (Prod {{getPrice2()|currency}}, Mrkt {{priceArray2[dayMax]|currency}})</label>
          <input type="range" class="slider" min="0" max={{getMaxProd2()}} ng-change="updateQuantity()" ng-model="production.quantity2"></input>

          <label for="quantity1">Daily <img src="res/img/button-1.png" alt="b"> Button1 Shipping: {{retail.quantity1}} (max {{production.quantity1}})</label>
          <input type="range" class="slider" min="0" max={{production.quantity1}} ng-model ="retail.quantity1"></input>

          <label for="quantity2">Daily <img src="res/img/button-2.png" alt="b"> Button2 Shipping: {{retail.quantity2}} (max {{production.quantity2}})</label>
          <input type="range" class="slider" min="0" max={{production.quantity2}} ng-model ="retail.quantity2"></input>
          <div ng-if="presidencyRun">
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-3">
      <h4>Surplus controls</h4>
      <div class="well">
       
        <img src="res/img/button-1.png" alt="b"> Button 1 stock: {{ button1stock }}</br>
        <img src="res/img/button-2.png" alt="b"> Button 2 stock: {{ button2stock }}</br>
       <button ng-click="buyButton1()" class="btn">Buy <img src="res/img/button-1.png" alt="b"> Button 1 ({{priceArray1[dayMax]|currency}})</button><br>
        <br><button ng-click="sellButton1()" class="btn">Sell <img src="res/img/button-1.png" alt="b"> Button 1 ({{priceArray1[dayMax]*multiplier|currency}})</button><br>
        
        <br><button ng-click="buyButton2()" class="btn">Buy <img src="res/img/button-2.png" alt="b"> Button 2 ({{priceArray2[dayMax]|currency}})</button><br>
        <br><button ng-click="sellButton2()" class="btn">Sell <img src="res/img/button-2.png" alt="b"> Button 2 ({{priceArray2[dayMax]*multiplier|currency}})</button><br>        
      </div>
    </div>
    <div class="col-md-3">
      <h4>Donald Controls</h4>
      <div class="well">
        <button ng-if="!banned" ng-click="ban()">Hold a speech</button>
        <p ng-if="qualityAverage < 60">Predidential Run : <br>[Required: Ave.Quality 60]</p>
        <button ng-if="!president.isPresident && !presidencyRun && allowPresidencyRun" ng-click="runForPresident()" class="btn">Run for president!</button>

        <div ng-if="presidencyRun">
          <!-- Anything presidency related -->
          <h4> Days left: {{president.timeleft}}</h4>
          <p> Approval Rating: {{president.approval|number:0}} (need {{president.required|number:0}})</p>
          <p> Approval Change per Day: {{funding.president / 20000 | percentage:2}}</p>
            <label>Presidency Funding: {{funding.president|currency}}</label>
            <input type="range" class="slider" min="0" max={{money}} ng-model="funding.president"></input>
          <button class="btn" ng-click="holdRally()">Hold Rally! (+10 approval, cost: {{getRallyCost()|currency}})</button>
        </div>

        <div ng-if="!presidencyRun">
          <!-- Anything non-president related-->
          <p ng-if="!mcdonald && qualityAverage < 80 && money < 10000">Found McDonald Trumps:<br>[Required: Ave.Quality: 80, Money: 10,000]</p>
          <button class="btn" ng-click="foundmcdonald()" ng-if="!mcdonald && qualityAverage >= 80 && money >= 10000">Found McDonald Trumps ($10000)</button> 
        </div>
      </div>

      <h4>Presidential Actions</h4>
      <div class="well" ng-if="!president.isPresident">
        <h4>Become president first!</h4>
      </div>
      <div ng-if="president.isPresident">
        <div class="well">
          <button ng-if="money >= 5000 &&!wallBuilt && qualityAverage >= 75" class="btn" ng-click="buildTheWall()">
            Build the great mexican wall ($5000)
          </button>
          <p ng-if="!wallBuilt && (money < 5000 || qualityAverage < 75)">Build the Mexican Wall: <br>[Required: Ave.Quality 75, Money 5,000]</p>
          <button class="btn" ng-if="!internetClosed && money > 7500 && qualityAverage > 70" ng-click="closeInternet()">
            Close up the internet ($7500)
          </button> 
          <p ng-if="!internetClosed && (money <= 7500 || qualityAverage <= 70)">Close up the internet: <br>[Required: Ave.Quality 70, Money 7,500]</p>
          <p ng-if="!internetClosed || !wallBuilt || !banned">Abolish Capitalism: <br>[Required: Complete all above actions]</p>
          <button ng-if="internetClosed && wallBuilt && banned" ng-click="abolishCapitalism()">Abolish Capitalism</button> 
      </div>
      </div>
    </div>

    <div class="col-md-3">
      <h4>Dear Leader</h4>
      <img src="res/img/trump.png" alt="TRUMP" ng-if="!president.isPresident && !presidencyRun">
      <img src="res/img/trump-candid.png" alt="Trump is a candidate" ng-if="!president.isPresident && presidencyRun"> 
      <img src="res/img/god-king-trump.png" alt="god king" ng-if="president.isPresident">
    </div>
  </div>

</div>
<script type="text/javascript-lazy">
var dom_el = document.querySelector('[ng-controller="game-Ctrl"]');
var ng_el = angular.element(dom_el);
var scope = ng_el.scope();
//Set initial data
var seed = 50;
var priceArray = [scope.button1cost];
var priceArray2 = [scope.button2cost];
var karr = [];
for (i = 0; i < scope.dayMax; i++) {
  priceArray.push(Math.round(100*(priceArray[i] + 5*Math.random()*(Math.random()<0.5?-1:1)))/100);
  priceArray2.push(Math.round(100*(priceArray2[i] + 5*Math.random()*(Math.random()<0.5?-1:1)))/100);
  karr.push(i+1);
}
var c = function() {
  scope.priceArray1 = priceArray;
  scope.priceArray2 = priceArray2;
};
var phase = scope.$$phase;
if(phase == '$apply' || phase == '$digest') {
  if(c) {  
    c(); 
  }
} else {
  scope.$apply(c);
} 

var data = {x: karr, y: priceArray, name: "Button-1", type: 'scatter'};       
var data2 = {x: karr, y: priceArray2, name: "Button 2",  type: 'scatter'};
var layout = {title: "Button Market", width: 300, height: 200, autosize: false, yaxis: { title: "Price ($)" }, 
  xaxis: {title: "Days"}, margin: {l: 40, b: 30, t: 30, r:30}};
Plotly.newPlot("graph", [data, data2], layout);
</script>
  </div>
  </div>

  <!--
    <div class="col-md-3">
    <img class="trump" ng-if="!presidencyRun && !president.isPresident" src="res/img/trump-head.png" alt="TRUMP HEAD">
    <img class="trump" ng-if="presidencyRun" src="res/img/trump-presidency.png" alt="TRUMP HEAD">
    <img class="trump" ng-if="president.isPresident" src="res/img/god-king-trump.png" alt="GOD KING">
    </div>


    <div class="col-md-3">
    <img ng-if="!president.isPresident" class="trump" src="res/img/trump-stump.png" alt="TRUMP STUMP">
    <img ng-if="president.isPresident" class="trump" src="res/img/trump-pres-stump.png" alt="TRUMP STUMP">  
    </div>


    <div class="col-md-3">
    <img ng-if="!president.isPresident" class="trump" src="res/img/trump-body.png" alt="TRUMP BODY">
    <img ng-if="president.isPresident" class="trump" src="res/img/trump-pres-body.png" alt="TRUMP BODY">
    </div>
  -->
